/* Formatting */
:root {
  --primary-color: #f5f5f5;
  --secondary-color: #1f1e1e;
  --tertiary-color: #f2c12e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

h1 {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 1.3rem;
}

h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

a {
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--primary-color);
}

p {
  padding-top: 0.2rem;
  font-size: 0.8rem;
  font-weight: 200;
}

.container {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
